# Copiez ce fichier en ".env" et remplissez de vraies valeurs. Ne commitez jamais ".env".

PORT=4000
CLIENT_ORIGIN=https://tilus-tech.dev
JWT_SECRET=changez_moi_avec_une_valeur_aleatoire_longue
JWT_EXPIRES_IN=8h
NODE_ENV=production
